* {
  width: 100%;
  margin: 0px;
  padding: 0px;

  font-family: sans-serif;
}
/* navbar */
.conteiner {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #c7eaff;
}
.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 30px 0;
  padding-right: 10px;
  padding-left: 5%;
}
.logo-name {
  padding-top: 15px;
  color: #0041a2;
  text-shadow: 0px 2px 5px gray;
}
nav {
  text-align: right;
  margin-right: 5%;
}
.navbar ul li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}
.navbar ul li a {
  text-decoration: none;
  color: #0041a2;
  font-weight: bolder;
}
/* body */
.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #c7eaff;
  font-size: 15px;
  color: #0041a2;
  width: 1140px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content h3 {
  font-weight: 800;
}
.abutton {
  text-decoration: none;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

label {
  margin-bottom: 5px;
  color: #0041a2;
  font-weight: bolder;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  background-color: #0041a2;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 190px;
  height: 50px;
  margin-left: 1145px;
}

button:hover {
  background-color: #0041a2;
  color: antiquewhite;
}

/* footer */
.footer {
  width: 100%;
  background-color: #c7eaff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-conteiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
.logo2 {
  width: 40px;
  height: 50px;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 5%;
}
.fcol1 {
  display: flex;
  flex-direction: column;
}
.fcol1 ul li {
  padding-left: 75px;
  padding-top: 10px;
}
.logo-container {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.fcol2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 850px;
}
.fcol2 h1 {
  color: #0041a2;
  font-size: x-large;
}
.fcol2 p {
  padding-top: 10px;
}
.fcol3 {
  margin-top: auto; /* Pushes fcol3 to the bottom */
  padding-bottom: 5px; /* Adds some padding at the bottom */
}
.fcol3 nav {
  text-align: center;
}
.fcol3 nav ul {
  list-style: none;
  padding: 0;
}
.fcol3 nav ul li {
  display: inline;
  margin: 0 15px;
  color: #0041a2;
  font-weight: bold;
}
.fcol3 nav ul li a {
  text-decoration: none;
  color: #0041a2;
  font-weight: bold;
}
.hr {
  border: none;
  height: 3px; /* Set the height of the line */
  width: 93%;
  background-color: #0041a2;
}
.end h5 {
  color: #0041a2;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
